<h2>Lista de notas</h2>
<hr>
<a href="/notas/nova"><button type="button" class="btn btn-success">Criar nova nota</button></a>
{{#each notas}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <small>Data: {{data}}</small>
        <br>
        <small>Categoria: {{categoria.nome}}</small>
        <br>
        <small>Conteudo: {{this.conteudo}}</small>
        <br>
        <small>Tags : </small>
        {{#each tags}}
        <small>{{nome}};</small>
        {{else}}
        <small> Nenhuma tag encontrada </small>
        {{/each}}
        <br>
        <br>
        <div>
            <a href="/notas/{{_id}}/editar"><button class="btn btn-outline-success mr-4">Editar
                    notas</button></a>
            <button id="btn-deletar" onclick="deletarNota('{{_id}}')" class="btn btn-outline-danger mr-4">Deletar
                Nota</button>
            <a href="/notas/{{_id}}"><button class="btn btn-outline-success mr-4"> Ver tudo </button></a>
        </div>
    </div>
</div>
{{else}}
<p>Nenhuma postagem registrada.</p>
{{/each}}