<h2>Lista de tags</h2>
<hr>
<a href="/tags/criar"><button type="button" class="btn btn-success">Criar nova tag</button></a>


{{#each tags}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{nome}}</h4>
        <small>Slug: {{slug}}</small>
        <br>
        <small>Data de Criação :{{date}}</small>
        <br>


        <a href="/notas?tag={{slug}}"><button type="button" class="btn btn-outline-success mt-4">Ver
                notas</button></a>






        </form>

        <button type="submit" onclick="deletarTags('{{_id}}')" class="btn btn-danger mt-4">Deletar
            categoria</button>



    </div>
</div>
{{else}}
<br>
<h4>Nenhuma tag registrada...</h4>
{{/each}}